body {
    background-color: #f3f3f3;
    padding: 20px;
}

header, article, aside, footer {
    background: #ffffff;
    border: 4px solid #000000;
    box-shadow: 8px 8px 0px 0px #000000;
    padding: 20px;
    margin-bottom: 30px;
}

header { background: #ffde03; } /* Amarillo brillante */

nav a {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

nav a:hover {
    background: #ff0055; /* Rosa vibrante */
}

article h2 {
    text-transform: uppercase;
    font-weight: 900;
}